body {
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
    background-color:#ffffff;
    margin: 0;
    padding: 0;
    color: #555555;
}
#div_body {
    min-width: 850px;
    max-width: 75%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    /*
    margin-top: 0;
    margin-bottom: 0;
    border-left: 1px solid #ccccff;
    border-right: 1px solid #ccccff;
    border-bottom: 1px solid #ccccff;
    */
}
.div_content {
    border: 1px solid #ccccff;
    padding: 20px;
    margin: 20px;
}
#header {
    color: #ffffff;
    text-align: left;
    background-color: #776699;
    border: 1px solid #ccccff;
    margin-top: 0px;
}
/** Specific stuff **/
#search_form {
    position: relative;
    width: 100%;
    float: right;
}
#qareports {
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
    width: 100%;
    border-collapse: collapse;
}
#qareports td, #qareports th {
    font-size:1.2em;
    border: 1px solid #ccccff;
    padding: 3px 7px 2px 7px;
}
#qareports th {
    font-size: 1.4em;
    text-align: left;
    padding-top: 5px;
    padding-bottom: 4px;
    background-color: #776699;
    color: #fff;
}
.row1 {background-color:#ffffff;}
.row2 {background-color:#ddddff;}
