body {
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
    background-color:#ffffff;
    margin: 0;
    padding: 0;
    color: #555555;
}
hr {
    margin: 20px;
}
#div_body {
    width: 850px;
    /*
    min-width: 850px;
    max-width: 75%;
    */
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    /*
    margin-top: 0;
    margin-bottom: 0;
    border-left: 1px solid #ccccff;
    border-right: 1px solid #ccccff;
    border-bottom: 1px solid #ccccff;
    */
}
.div_content {
    /* border: 1px solid #ccccff; */
    padding: 20px;
    margin: 20px;
    margin-bottom: 0px;
    margin-top: 0px;
    clear: both;
}
#header_div {
    height: 110px;
    color: #ffffff;
    text-align: center;
    background-color: #6d4eae;
    background-image:url('../gfx/title_2.jpg');
    margin-bottom: 20px;
}
#footer_div {
    background-color: #ffffff;
    padding: 0px 20px;
    margin-top: 20px;
}
/** Specific stuff **/
#search_div {
    /* padding: .5em; */
    margin-bottom: 0px;
}
#content_div {
    margin-top: 0px;
}
#qareports {
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
    width: 100%;
    border-collapse: collapse;
}
#qareports td, #qareports th {
    font-size:1.2em;
    border: 1px solid #ccccff;
    padding: 3px 7px 2px 7px;
}
#qareports th {
    font-size: 1.4em;
    text-align: left;
    padding-top: 5px;
    padding-bottom: 4px;
    background-color: #776699;
    color: #fff;
}
.row1 {background-color:#ffffff;}
.row2 {background-color:#ddddff;}
#result_message {}
.checkboxes { }
