<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="en">
<head>
    <base />
    <meta name="description" content="Searchable Gentoo linux QA database" />
    <meta name="keywords" content="Gentoo, linux, QA, quality assurance" />
    <title>Gentoo QA</title>
    <link href="{{ media_url }}css/grass_purple.css" rel="stylesheet" type="text/css" media="screen" />
</head>
<body>

<div id="header">
    <h1>gentoo qa</h1>
    <p>gentoo linux quality assurance,</p>
    <p>powered by pkgcore</p>
</div>

<div id="sidebar">
<ul>
{% block links %}
    <li><a class="here" href="{{ base_url }}">Home</a></li>
    <li><a href="{{ search_url }}">Search</a></li>
    <li><a href="{{ search_url }}advanced">Advanced search</a></li>
    <li><a href="{{ reports_url }}">Browse architecture</a></li>
{% endblock %}
</ul>
</div>

<div id="wrapper">
<div id="content">
{% block content %} {% endblock %}
</div>

<div id="footer">
<p>copyright 2010 themindbug@gmail.com</p>
</div>

</div>
</body>
</html>
