<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
    <title>The Gentoo QA Website - {% block title %}{% endblock %}
    </title>
    <link rel="stylesheet" type="text/css" href="../media/css/base_wave.css" />
</head>
<body>
<div id="div_body">
    <div class="div_content" id="header">
    {% block header %}
        <h1>Gentoo Linux QA</h1>
    {% endblock %}
    </div>

    <div class="div_content" id="search">
    {% block search %}
        <form id="search_form" action="." method="GET">
            {% csrf_token %}
            {{ form }}
            <input type="submit" value="Submit" />
        </form>
    {% endblock %}
    </div>

    <div class="div_content" id="content">
    {% block content %}
    {% endblock %}
    </div>

    <div class="div_content" id="footer">
    {% block footer %}
    {% endblock %}
    </div>
</div>
</body>
</html>
