{% extends "simple_qa/bluestrike_base.html" %}

{% block links %}
<ul>
    <li><a href="{{ base_url }}">Home</a></li>
    <li><a href="{{ search_url }}">Search</a></li>
    <li><a href="{{ search_url }}advanced">Advanced search</a></li>
    <li class="selected">
        <a href="{{ reports_url }}">Browse architecture</a>
    </li>
</ul>
{% endblock %}

{% block content %}
<h2>Browse the qa report database</h2>

{% if result_message %}
<h3 id="result_message">{{ result_message|default:"No results to display." }}</h3>
{% endif %}

{% if result_page %}
<table id="qareports">
<tr>
    <th>Category</th>
    <th>Package</th>
    <th>Version</th>
    <th>Architecture</th>
    <th>Keywords</th>
    <th>QA classification</th>
</tr>
{% for result in result_page.object_list %}
<tr class="{% cycle 'row1' 'row2' %}">
    {% if arch %}
    <td>
    <a href="{{ reports_url }}{{ arch }}/{{ result.category }}">{{ result.category }}</a></td>
    {% else %}
    <td>{{ result.category }}</td>
    {% endif %}
    <td><a href="{{ detail_url }}{{ result.id }}">{{ result.package }}</a>
    </td>
    <td>{{ result.version }}</td>
    <td><a href="{{ reports_url }}{{ arch }}">{{ result.arch }}</a></td>
    <td>{{ result.keywords }}</td>
    <td>{{ result.qa_class }}</td>
</tr>
{% endfor %}
</table>
{% endif %}
{% endblock %}
