{% extends "simple_qa/bluestrike_base.html" %}

{% block a_browse %}
<a href="{{ reports_url }}" class="selected">Browse architectures</a>
{% endblock %}

{% block submenu %}
<li><a href="{{ reports_url }}">Browse architecture</a></li>
{% if arch %}
<p>>></p><li><a href="{{ reports_url }}{{ arch }}">{{ arch }}</a></li>
{% endif %}
{% if category %}
<p>>></p><li><a href="{{ reports_url }}{{ arch }}/{{ category }}">{{ category }}</a></li>
{% endif %}
{% endblock %}

{% block content %}
<h2>Browse the qa report database</h2>

{% if result_message %}
<h3 id="result_message">{{ result_message|default:"No results to display." }}</h3>
{% endif %}

{% if result_page %}
<table id="qareports">
<tr>
    <th>Category</th>
    <th>Package</th>
    <th>Version</th>
    <th>Architecture</th>
    <th>Keywords</th>
    <th>QA classification</th>
</tr>
{% for result in result_page.object_list %}
<tr class="{% cycle 'row1' 'row2' %}">
    {% if arch %}
    <td>
    <a href="{{ reports_url }}{{ arch }}/{{ result.category }}">{{ result.category }}</a></td>
    {% else %}
    <td>{{ result.category }}</td>
    {% endif %}
    <td><a href="{{ detail_url }}{{ result.id }}">{{ result.package }}</a>
    </td>
    <td>{{ result.version }}</td>
    <td><a href="{{ reports_url }}{{ arch }}">{{ result.arch }}</a></td>
    <td>{{ result.keywords }}</td>
    <td>{{ result.qa_class }}</td>
</tr>
{% endfor %}
</table>
{% endif %}
{% endblock %}
