<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US">
<head>
    <title>Gentoo linux QA</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="{{ media_url }}css/bluestrike.css" />
</head>
<body>
<div id="wrapper">
    <div id="header">
        <a href="{{ base_url }}"><img src="{{ media_url }}gfx/bluestrike/logo_header.gif" alt="" width="203" height="102" class="logo" /></a>
        <h1>Gentoo linux QA</h1>
        <p>powered by pkgcore</p>
    </div>

    <ul id="menubar">
    {% block menubar %}
        <li>
            {% block a_home %}
            <a href="{{ base_url }}">Home</a></li>
            {% endblock %}
        <li>
            {% block a_search %}
            <a href="{{ search_url }}">Search</a>
            {% endblock %}
            <ul>
                <li><a href="{{ search_url }}advanced">Advanced search</a></li>
            </ul>
        </li>
        <li>
            {% block a_browse %}
            <a href="{{ reports_url }}">Browse architectures</a>
            {% endblock %}
            <ul>
            {% if menu_arches %}
            {% for arch in menu_arches %}
                <li><a href="{{ reports_url }}{{ arch }}">{{ arch }}</a></li>
            {% endfor %}
            {% endif %}
            </ul>
        </li>
    {% endblock %}
    </ul>
    <div class="clear_left"></div>


    <div id="content">
    <ul id="submenu">
    {% block submenu %}{% endblock %}
    </ul>

    {% block content %}{% endblock %}
    </div>

    <div id="footer">
        <p>copyright 2010 themindbug@gmail.com</p>
    </div> 
</div>
</body>
</html>
