{% extends "simple_qa/base.html" %}

{% block content %}
{% for qareport in obj_page.object_list %}
    <p>{{ qareport.package }}</p>
{% endfor %}

<div class="pagination">
    <span class="step-links">
        {% if obj_page.has_previous %}
            <a href="?page={{ obj_page.previous_page_number }}">previous</a>
        {% endif %}
        <span class="current">
            Page {{ obj_page.number }} of {{ obj_page.paginator.num_pages }}.
        </span>
        {% if obj_page.has_next %}
            <a href="?page={{ obj_page.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>
{% endblock %}
