<html>
<head>
<link rel="stylesheet" type="text/css" href="../media/css/base_wave.css" />
</head>
<body>
<table>
<tr>
    <th>Package</th>
    <th>QA classification</th>
    <th>Description</th>
    <th>Stable architecture</th>
    <th>Keywords</th>
    <th>Threshold</th>
</tr>
<tr>
    <td>{{ qareport.category }}/{{ qareport.package }}-{{ qareport.version }}
    </td>
    <td>{{ qareport.qa_class }}</td>
    <td>{{ qareport.short_desc }}</td>
    <td>{{ qareport.arch }}</td>
    <td>{{ qareport.keywords }}</td>
    <td>{{ qareport.threshold }}</td>
</tr>
</table>
</body>
</html>
