{% extends "simple_qa/base.html" %}
{# <p>&amp;query={{ query }}</p> #}
{% block content %}
<p>full GET string: {{ get_string }}</p>
<p>page: {{ page }}</p>
<p>fields: {{ fields }}</p>
<p>url except page: {{ query_url }}</p>
{% if result_message %}
<h3 id="result_message">{{ result_message|default:"" }}</h3>
{% endif %}
{# display the results (or lack of) #}
{% if result_page %}
<table id="qareports">
<tr>
    <th>Category</th>
    <th>Package</th>
    <th>Version</th>
    <th>Keywords</th>
    <th>QA classification</th>
</tr>
{% for result in result_page.object_list %}
<tr class="{% cycle 'row1' 'row2' %}">
    <td>{{ result.category }}</td>
    <td>{{ result.package }}</td>
    <td>{{ result.version }}</td>
    <td>{{ result.keywords }}</td>
    <td>{{ result.qa_class }}</td>
</tr>
{% endfor %}
</table>
{% endif %}
{# end of results #}

{# bottom-page pagination code #}
{% if result_page.has_next %}
<div class="pagination">
    <span class="step-links">
        {% if result_page.has_previous %}
            <a href="?{{ query_url }}&amp;page={{ result_page.previous_page_number }}">previous</a>
        {% endif %}
        <span class="current">
            Page {{ result_page.number }} of {{ result_page.paginator.num_pages }}.
        </span>
        {% if result_page.has_next %}
            <a href="?{{ query_url }}&amp;page={{ result_page.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>
{% endif %}
{# end bottom-page pagination #}
{% endblock %}
